@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter+Display:wght@500&display=swap');

* {
    padding: 2px;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr {
    border-top: 1px solid navy;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.header {
    background-color: rgb(30, 87, 194);
    height: 100px;
    color: whitesmoke;
}

.navBar{
    font-size: 1rem;
    display:flex;
    justify-content: center;
    color: whitesmoke;
    list-style: none;
}

.navLi{
    /* align-content: space-around; */
    padding: 20px;
}