@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter+Display:wght@500&display=swap');

* {
    padding: 2px;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div a {
    color: white;
    background-color: transparent;
    text-decoration: white;
  }

hr {
    border-top: 1px solid navy;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.header-style {
    background-color: rgb(97, 131, 193);
    font-size: 30px;
}

.subheading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 20px;
}
.navBar{
    font-size: 1rem;
    display:flex;
    justify-content: center;
    color: whitesmoke;
    list-style: none;
}

.navLi{
    padding: 20px;
}

.icon {
    border-radius: 18px;
    border-style: solid;
    border-color: cyan;
    background-color: cyan;
    padding: 0;
    width: 50px;
    height: 60px;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 4em;
}

.under-profile-pic {
    display: flex;
    align-items: center;
    color: white;
}

.list-items {
    color: black;
    text-decoration: underline;
}