@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter+Display:wght@500&display=swap');

* {
    padding: 2px;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr {
    border-top: 1px solid navy;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.header {
    background-color: rgb(30, 87, 194);
    height: 50px;
    color: whitesmoke;
    border-radius: 5px;
}

.navBar{
    font-size: 1rem;
    display:flex;
    justify-content: center;
    color: whitesmoke;
    list-style: none;
}

.navLi{
    padding: 20px;
}

/* img[src="./images/rachel_site_pic-modified.png"] {
    border-radius: 18px;
    border-style: solid;
    border-color: cyan;
    background-color: cyan;
    padding: 0;
} */

.under-profile-pic {
    display: flex;
    align-items: center;
}