@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: #4a77e7;
  position: fixed;
  opacity: .8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.button-container .title {
  display:inline-block;
  text-align: center;
  margin-top: 10px;
  font-size: 60px;
  font-family: 'Cedarville Cursive', cursive;
}

.button-container .body {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
  font-family: 'Cedarville Cursive', cursive;
}

.modalButton {
 
}

.modalButton .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.button-container .modalButton {
  text-align: center;
  position: relative;
  bottom: -20px;
}
.modalButton .mdc-button {
  font-size: 20px;
  font-weight: bold;
}
